<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>About</title>
  </head>
  <body>
    <%= render "/header" -%>
    <h1>About</h1>
    <%= render "/footer" -%>

  </body>
</html>
