<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Assignment</title>
  </head>
  <body>
    <h1>Get Person Details</h1>

    <input type="text" id="name_input"/>
    <input type="submit" value="Search" id="submit_btn"/>
    <input type="button" value="Get Details" id="get_details_btn"/>

    <div id="department_data">

    <table id="department_table">
    
    </table>

    </div>

  </body>
</html>