<!DOCTYPE html>
<html lang="en" dir="ltr">

  <head>
    <meta charset="utf-8">
    <title>Departments</title>
  </head>

  <body>

    <%= render "/header"%>

    <%= render "/search"%>
  
    <div id="dep_table_div">
      <%=render 'departments_table'%>
    </div>
    <%= render "/footer"%>
  </body>
</html>