<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>College Departments</title>
  </head>
  <body>
<h1>College Departments</h1>
<%= require 'html/table'
#include HTML

table = Table.new do
border 1
end

table.push Table::Row.new{ |r|
r.align = "center"
r.content = ["ID", "Name", "HOD ID"]

}

Department.all.each do |d|
table.push Table::Row.new{ |r|
r.align = "center"
r.content = [d.id, d.name, d.hod_id] 
}

puts table.html
end%>
  </body>
</html>
