$.ajax({
  type: "GET", 
  url: "/department/search",
  data: { "name": $('#search_input').val(),
  "hod_id": $('#hod_id_input').val()
},
  success: function(data, textStatus, jqXHR){
    $('#search_results_div').empty()

    if ($.trim(data)==''){
        $('#search_results_div').append('Sorry no search results found')
        return
   
    } else{

for (i=0; i<data.length; i++){
    $('#search_results_div').append("<a href= '/departments/" + data[i].id + "'>" + data[i].name + "</a>")
    $('#search_results_div').append('<br/>')
   
}

$('#search_results_div').append('<br/>')
$('#search_results_div').append('<br/>')

    }   


  },
  error: function(jqXHR, textStatus, errorThrown){

  }
})