<p>
  You have successfully signed up to College Website. Your username is: <%= @email %>.
</p>
<p>
  <%= @message %>.
</p>
<p>
  Thanks for joining and have a great day!
  <%= image_tag attachments['attachment.jpg'].url, alt: 'Image attachment', class: 'image_attachments' %>
</p>