<%= render "/header" %>
    
    <h1>Home</h1>

    <!--<button type="button" id="show_disclaimer">Show Disclaimer</button> -->
    
    <%=  link_to "Show Disclaimer", root_path, remote: true %>
    <div id="disclaimer_div"></div>

    <%= render "/footer"%>

