<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Footer Partial</title>
  </head>
  <body>
    <h1>Footer Partial</h1>
    <pre> <a href="/">home</a>     <a href="/about">about</a>     <a href="/departments">departments</a>     <a href="/sections">sections</a>     <a href="/teachers">teachers</a>     <a href="/students">students</a>     <a href="/subjects">subjects</a>     <a href="/exams">examinations</a>     <a href="/contact">contact us</a></pre>
  </body>
</html>
