<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Footer Partial</title>
  </head>
  <body>
<h1>Footer Partial</h1>
<pre> <a href="/">Home</a>     <a href="/about">About</a>     <a href="/departments">Departments</a>     <a href="/sections">Sections</a>     <a href="/teachers">Teachers</a>     <a href="/students">Students</a>     <a href="/subjects">Subjects</a>     <a href="/exams">Examinations</a>     <a href="/contact">Contact us</a></pre>
  </body>
</html>
