<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Header Partial</title>
  </head>
  <body>
    <pre> <a href="/">home</a>     <a href="/about">about</a>     <a href="/departments">departments</a>     <a href="/sections">sections</a>     <a href="/teachers">teachers</a>     <a href="/students">students</a>     <a href="/subjects">subjects</a>     <a href="/exams">examinations</a>     <a href="/contact">contact us</a><%if !$isadmin%>      <a href="/admin/login">admin login</a><%end%></pre>
    <h1>Header Partial</h1>
  </body>
</html>
