<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Header Partial</title>
  </head>
  <body>
    <pre> <a href="/">Home</a>     <a href="/about">About</a>     <a href="/departments">Departments</a>     <a href="/sections">Sections</a>     <a href="/teachers">Teachers</a>     <a href="/students">Students</a>     <a href="/subjects">Subjects</a>     <a href="/exams">Examinations</a>     <a href="/contact">Contact us</a><%if !$isadmin%>      <a href="/admin/login">Admin Login</a><%end%></pre>
<h1>Header Partial</h1>
  </body>
</html>
